# Question 1
Create your own decoratorFor this exercise, you will create your own decorator  to measure the execution time of a function. You need to do that from scratch and not use any other built-in decorators (but you are allowed to use the time() module).

In [40]:
from time import time

def execution_time(func):
    def wrapper(*args, **kwargs):
        start_time = time()
        result = func(*args, **kwargs)
        end_time = time()
        time_taken = end_time-start_time
        print(f"Execution Time: {time_taken} seconds")
        return result
    return wrapper
@execution_time
def application():
    for i in range(10):
    #    return i
        print(i)
    print("Function Executed")

application()

0
1
2
3
4
5
6
7
8
9
Function Executed
Execution Time: 0.0012297630310058594 seconds

# Question 2

For this module project, we would like you to start thinking in terms of business and how you can help businesses solve problems through data. Imagine you will present a dataset and its information and define a business case in two different people in your company: 

1. Your data science/programming team head

2. The CEO

Choose a data set from Kaggle.com/datasetsLinks to an external site.. It might be customer/sales data or another type of data you might be interested in. Define a business case and a problem you try to solve. Your explanations must have the appropriate amount and type of information for each role, the business case you are defining and the problem you are aiming to solve. Therefore, you need to be selective as to what details to include to each of your presentation.

## Presentation to Data Science/Programming Team Head

### Business Case: Optimizing Pizza Production Efficiency

### Problem Statement
Enhance the efficiency of pizza production and improve the overall customer experience by analyzing the pizza sales dataset. We want to identify patterns and trends that will enable us to optimize inventory management, reduce production time, and potentially introduce new pizza variants based on customer preferences.

Data Exploration

In [2]:
import pandas as pd

# Load the dataset
pizza_data = pd.read_csv('pizza_sales.csv')
pizza_data.head(2)

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1.0,1.0,hawaiian_m,1.0,1/1/2015,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2.0,2.0,classic_dlx_m,1.0,1/1/2015,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza

In [9]:
# No of entries
pizza_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pizza_id           48620 non-null  float64
 1   order_id           48620 non-null  float64
 2   pizza_name_id      48620 non-null  object
 3   quantity           48620 non-null  float64
 4   order_date         48620 non-null  object
 5   order_time         48620 non-null  object
 6   unit_price         48620 non-null  float64
 7   total_price        48620 non-null  float64
 8   pizza_size         48620 non-null  object
 9   pizza_category     48620 non-null  object
 10  pizza_ingredients  48620 non-null  object
 11  pizza_name         48620 non-null  object
dtypes: float64(5), object(7)
memory usage: 4.5+ MB

Check for missing or inconsistent data in the dataset.

In [4]:
# Check for missing data
missing_data = pizza_data.isnull().sum()
missing_data

pizza_id             0
order_id             0
pizza_name_id        0
quantity             0
order_date           0
order_time           0
unit_price           0
total_price          0
pizza_size           0
pizza_category       0
pizza_ingredients    0
pizza_name           0
dtype: int64

Explore the distribution of pizza sizes, categories, and ingredients.

In [5]:
# Explore pizza sizes
pizza_sizes = pizza_data['pizza_size'].value_counts()
pizza_sizes

L      18526
M      15385
S      14137
XL       544
XXL       28
Name: pizza_size, dtype: int64

In [6]:
# Explore categories
pizza_categories = pizza_data['pizza_category'].value_counts()
pizza_categories

Classic    14579
Supreme    11777
Veggie     11449
Chicken    10815
Name: pizza_category, dtype: int64

In [11]:
# # Explore ingredients
# pizza_ingred = pizza_data['pizza_ingredients'].value_counts()
# pizza_ingred

Demand Analysis

Analyze the most popular and least popular pizza variants based on order frequency and total sales

In [13]:
# Demand Analysis
popular_pizzas = pizza_data.groupby('pizza_name')['order_id'].count().sort_values(ascending=False)
popular_pizzas

pizza_name
The Classic Deluxe Pizza                      2416
The Barbecue Chicken Pizza                    2372
The Hawaiian Pizza                            2370
The Pepperoni Pizza                           2369
The Thai Chicken Pizza                        2315
The California Chicken Pizza                  2302
The Spicy Italian Pizza                       1887
The Sicilian Pizza                            1887
The Southwest Chicken Pizza                   1885
The Four Cheese Pizza                         1850
The Italian Supreme Pizza                     1849
The Big Meat Pizza                            1811
The Vegetables + Vegetables Pizza             1510
The Mexicana Pizza                            1456
The Napolitana Pizza                          1451
The Spinach and Feta Pizza                    1432
The Prosciutto and Arugula Pizza              1428
The Pepper Salami Pizza                       1422
The Italian Capocollo Pizza                   1414
The Greek Pizza                               1406
The Five Cheese Pizza                         1359
The Pepperoni, Mushroom, and Peppers Pizza    1342
The Green Garden Pizza                         987
The Chicken Alfredo Pizza                      980
The Italian Vegetables Pizza                   975
The Chicken Pesto Pizza                        961
The Soppressata Pizza                          957
The Spinach Pesto Pizza                        957
The Spinach Supreme Pizza                      940
The Calabrese Pizza                            927
The Mediterranean Pizza                        923
The Brie Carre Pizza                           480
Name: order_id, dtype: int64

In [14]:
total_sales_by_pizza = pizza_data.groupby('pizza_name')['total_price'].sum().sort_values(ascending=False)
total_sales_by_pizza

pizza_name
The Thai Chicken Pizza                        43434.25
The Barbecue Chicken Pizza                    42768.00
The California Chicken Pizza                  41409.50
The Classic Deluxe Pizza                      38180.50
The Spicy Italian Pizza                       34831.25
The Southwest Chicken Pizza                   34705.75
The Italian Supreme Pizza                     33476.75
The Hawaiian Pizza                            32273.25
The Four Cheese Pizza                         32265.70
The Sicilian Pizza                            30940.50
The Pepperoni Pizza                           30161.75
The Greek Pizza                               28454.10
The Mexicana Pizza                            26780.75
The Five Cheese Pizza                         26066.50
The Pepper Salami Pizza                       25529.00
The Italian Capocollo Pizza                   25094.00
The Vegetables + Vegetables Pizza             24374.75
The Prosciutto and Arugula Pizza              24193.25
The Napolitana Pizza                          24087.00
The Spinach and Feta Pizza                    23271.25
The Big Meat Pizza                            22968.00
The Pepperoni, Mushroom, and Peppers Pizza    18834.50
The Chicken Alfredo Pizza                     16900.25
The Chicken Pesto Pizza                       16701.75
The Soppressata Pizza                         16425.75
The Italian Vegetables Pizza                  16019.25
The Calabrese Pizza                           15934.25
The Spinach Pesto Pizza                       15596.00
The Mediterranean Pizza                       15360.50
The Spinach Supreme Pizza                     15277.75
The Green Garden Pizza                        13955.75
The Brie Carre Pizza                          11588.50
Name: total_price, dtype: float64

In [19]:
# top 10 and bottom 10 popular order times
peak_order_times = pizza_data.groupby('order_time')['order_id'].count().sort_values(ascending=False)
print(peak_order_times.head(10))
print(peak_order_times.tail(10))

order_time
12:32:00    26
11:59:10    24
12:26:04    23
12:52:36    23
12:53:29    23
12:25:12    21
11:57:15    21
13:31:27    21
11:50:01    21
12:18:44    20
Name: order_id, dtype: int64
order_time
14:24:00    1
14:24:04    1
14:24:05    1
14:24:14    1
14:24:30    1
14:24:36    1
14:24:44    1
19:19:13    1
19:19:10    1
10:25:19    1
Name: order_id, dtype: int64

Inventory Optimization

Correlation between pizza size and ingredients to minimize inventory waste.

In [25]:
columns = pizza_data[['pizza_size', 'pizza_ingredients']]
correlation_matrix = columns.corr()
correlation_matrix

C:\Users\user\AppData\Local\Temp\ipykernel_15060\328043758.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = columns.corr()

Empty DataFrame
Columns: []
Index: []

In [26]:
# Select numeric columns for correlation analysis
numeric_columns = pizza_data.select_dtypes(include='number')

# Select the two columns for correlation analysis
selected_columns = ['unit_price', 'quantity']

# Calculate the correlation matrix with numeric_only=True
correlation_matrix = numeric_columns[selected_columns].corr()

# Print the correlation matrix
print(correlation_matrix)

            unit_price  quantity
unit_price    1.000000  0.007142
quantity      0.007142  1.000000

## Presentation to CEO

### Business Case: Improving Profit Margins, Customer Satisfaction and Maximimize Revenue

### Problem Statement
Increase profit margins and enhance customer satisfaction by leveraging insights from the pizza sales dataset. By understanding customer preferences, optimizing pricing strategies, and introducing targeted promotions, we aim to boost sales and loyalty.

- Overview of pizza sales performance, highlighting top-selling variants, and categories.
- Proposal for a pricing strategy based on customer preferences.
- Recommendation for targeted promotions or discounts to boost sales during specific time periods or for particular customer segments.

Customer Segmentation

In [30]:
customer_segments = pizza_data.groupby('pizza_name_id').agg({
    'total_price': 'sum',
    'order_id': 'count',
    'pizza_category': 'nunique'
})
customer_segments

               total_price  order_id  pizza_category
pizza_name_id
bbq_ckn_l         20584.00       967               1
bbq_ckn_m         16013.00       926               1
bbq_ckn_s          6171.00       479               1
big_meat_s        22968.00      1811               1
brie_carre_s      11588.50       480               1
...                    ...       ...             ...
the_greek_xl      14076.00       544               1
the_greek_xxl      1006.60        28               1
veggie_veg_l       8646.75       423               1
veggie_veg_m      10160.00       630               1
veggie_veg_s       5568.00       457               1

[91 rows x 3 columns]

Pricing Strategy

In [31]:
price_quantity_correlation = pizza_data[['unit_price', 'quantity']].corr()
price_quantity_correlation

            unit_price  quantity
unit_price    1.000000  0.007142
quantity      0.007142  1.000000

In [37]:
# Calculate total revenue and profit
total_revenue = pizza_data['total_price'].sum()
total_cost = pizza_data['quantity'] * pizza_data['unit_price'].sum()
total_profit = total_revenue - total_cost

# Present key metrics to the CEO
print(f"Total Revenue: ${total_revenue}")

Total Revenue: $817860.05

In [38]:
print(f"Total Cost: ${total_cost}")

Total Cost: $0        801944.7
1        801944.7
2        801944.7
3        801944.7
4        801944.7
           ...
48615    801944.7
48616    801944.7
48617    801944.7
48618    801944.7
48619    801944.7
Name: quantity, Length: 48620, dtype: float64

In [35]:
print(f"Total Profit: ${total_profit}")

Total Profit: $0        15915.35
1        15915.35
2        15915.35
3        15915.35
4        15915.35
           ...
48615    15915.35
48616    15915.35
48617    15915.35
48618    15915.35
48619    15915.35
Name: quantity, Length: 48620, dtype: float64